{% extends 'base.html' %}

{% block bodyblock %}
        <div class="home">
            <center>
            <a id="demo_btn" class="btn btn-danger" href="{{ url_for('gender') }}">Go to Demo</a>
            <img class="bg" src="{{url_for('static',filename='images/people.jpg')}}" alt="" style="width:85%"> 
            </center>
        </div>

        <style>
            .home img {
                width: 80%;
                height: auto;
            }

            .home #demo_btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                color: white;
                font-size: 30px;
                padding: 12px 24px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;
                box-shadow: 0 10px 20px 0 rgba(0,0,0,2), 0 10px 20px 0 rgba(0,0,0,2);
            }

            .container #demo_btn:hover {
                background-color: black;
            }
        </style>
{% endblock  %}